@import "tailwindcss";

/* font: Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
